<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.n1etzsch3.novi.mapper.UserAccountMapper">

    <insert id="addUser">
        insert into user_account (username, hashed_password, nickname, email, created_at, updated_at)
        values (#{username}, #{hashedPassword}, #{nickname}, #{email}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findByUsername" resultType="com.n1etzsch3.novi.pojo.entity.UserAccount">
        select * from user_account where username = #{username}
    </select>

    <select id="findByEmail" resultType="com.n1etzsch3.novi.pojo.entity.UserAccount">
        select * from user_account where email = #{email}
    </select>

    <select id="findById" resultType="com.n1etzsch3.novi.pojo.entity.UserAccount">
        select * from user_account where id = #{id}
    </select>

    <select id="findByEmailAndNotId" resultType="com.n1etzsch3.novi.pojo.entity.UserAccount">
        select * from user_account where email = #{email} and id != #{id}
    </select>

    <select id="findPreferencesJsonById" resultType="java.lang.String">
        select preferences from user_account where id = #{userId}
    </select>

    <update id="updateUser" parameterType="com.n1etzsch3.novi.pojo.entity.UserAccount">
        update user_account
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="hashedPassword != null and hashedPassword != ''">
                hashed_password = #{hashedPassword},
            </if>
            <if test="preferences != null and preferences != ''">
                preferences = #{preferences},
            </if>
            updated_at = NOW()
        </set>
        where id = #{id}
    </update>

    <update id="updatePreferences">
        update user_account
        set preferences  = #{preferences},
            updated_at = NOW()
        where id = #{userId}
    </update>


</mapper>